[
  {
    "remark": "自定义用户备注名称",
    "phone": "手机号",
    "password": "密码",
    "province": "xx省",
    "city": "xx市",
    "area": "xx区",
    "address": "最终打卡页面显示的文字，xx省 · xx市 · 某路边",
    "longitude": "经度(精确到小数点后六位)",
    "latitude": "纬度(精确到小数点后六位)",
    "randomLocation": true,
    "enable": true,
    "desc": "打卡备注",
    "pushKey": "pushplus官网获取的key，需要实名"
  }
]